[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

bson = "*"
ujson = "*"
ujson-delta = "*"
pipenv = "*"
coverage-badge = "*"
coverage = "*"
pytest = "*"
"unittest2" = "*"
posix-ipc = "*"
tox = "*"
lmdb = "*"
"cmd2" = {git = "https://github.com/python-cmd2/cmd2.git"}
readline = "*"
termcolor = "*"


[dev-packages]

pytest = "*"
pytest-cov = "*"
"unittest2" = "*"
coverage = "*"
coverage-badge = "*"
tox = "*"
