[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

bson = "*"
ujson = "*"
lmdb = "*"
ujson-delta = "*"
pipenv = "*"
coverage-badge = "*"
coverage = "*"
six = "*"
posix-ipc = "*"


[dev-packages]

