[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mkdocs = "*"
pydoc-markdown = "*"

[packages]
lmdb = "*"
ujson = "*"
bson = "*"
pipenv = "*"

[requires]
python_version = "3.6"
